# Entorno virtual
venv/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# TensorFlow/Keras
models/
logs/
src/logs/
src/models/tokenizer.pkl
src/models/cwe_encoder.pkl
src/models/metadata.json
src/models/evaluation.json

# Dataset
data/
dataset/

# Editor/IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
